<!DOCTYPE HTML>

<html>

<head>
    <title>Spring Boot - AJAX Example</title>
    <meta charset="utf-8" />
    <script src="/js/index.js"></script>
    <style type="text/css">
        body {
            color: purple;
            background-color: #FFFFBB
        }
    </style>
</head>

<body>

    <h1>To Do List Example</h1>

    <input type="button" value="新增ToDoList" onclick="location.href='../add.html'">
    <input type="button" value="搜尋ToDoList" onclick="location.href='../select.html'">

    <br>
    <h3>To Do List</h3>
    <div>
        <table id="toDoListTable" width="1000">
            <thead>
                <tr>
                    <th width="50">清單</th>
                    <th width="50">ID</th>
                    <th width="200">預計執行時間</th>
                    <th width="200">建立時間</th>
                    <th width="500">Subject</th>
                    <th id="todolistDeleteForm" width="50">Delete</th>
                    <th id="todolistEditForm" width="50">Edit</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</body>

</html>